@import "../../variables";

.central {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    position: relative;

    &::before {
        content: "";
        background-color: $dark-slide;
        width: 100%;
        height: 126px;
        position: absolute;
        top: 260px;
    }
    .promotion {
        z-index: 5;
    }

    .mug {
        max-width: 100%;
        text-align: center;
        position: relative;
        right: -38px;
    }
}
.title {
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
}
.items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2rem;

    .subSections {
        margin-top: 2rem;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 3.75rem;
        flex-wrap: wrap;
    }

    .loading{
        width: 5rem;
        height: 5rem;
        border: 10px solid $dark-slide;
        border-radius: 50%;
        border-top: 10px solid $primary;
        animation: turnCircle linear 700ms infinite ;
    }
}

@media screen and (max-width: 425px) {
    .title,
    .mug {
        padding-left: 1rem;
    }
}


@keyframes turnCircle{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(1turn);
    }
}
